m365-solution/Phase1/flows/mxr-approval-flow-v2.json
{
  "_comment": "Power Automate cloud flow definition for mxr-approval-flow-v2 (Phase 1 canonical, Dataverse). 4-decision approval: Approve / Deny / Escalate / Return. Switch on cr_routing posts to RMM (default) or Director channel. Adaptive Card has 4 actions. Trigger condition prevents self-fire on the flow's own Decision writes; allows re-fire for Returned-resubmit and Escalated-re-route patterns. Token replacements at solution import: `cr_` -> tenant publisher prefix. Mx_* parameters bind to Dataverse environment variables via metadata.schemaName.",

  "properties": {
    "connectionReferences": {
      "shared_commondataserviceforapps": {
        "runtimeSource": "embedded",
        "connection": { "connectionReferenceLogicalName": "cr_DataverseConnection" },
        "api": { "name": "shared_commondataserviceforapps" }
      },
      "shared_teams": {
        "runtimeSource": "embedded",
        "connection": { "connectionReferenceLogicalName": "cr_TeamsConnection" },
        "api": { "name": "shared_teams" }
      },
      "shared_office365": {
        "runtimeSource": "embedded",
        "connection": { "connectionReferenceLogicalName": "cr_OutlookConnection" },
        "api": { "name": "shared_office365" }
      }
    },
    "definition": {
      "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
      "contentVersion": "1.0.0.0",
      "parameters": {
        "$connections":            { "defaultValue": {}, "type": "Object" },
        "$authentication":         { "defaultValue": {}, "type": "SecureObject" },

        "_comment_environment_variables": "All mx_* parameters bind to Dataverse environment variables at import time. Default values are dev fallbacks; real values set per-environment in Solutions > MXConnect > Environment variables.",

        "cr_approver_team_id": {
          "defaultValue": "",
          "type":         "String",
          "metadata": { "schemaName":  "cr_cr_approver_team_id", "description": "Microsoft Teams Team ID where Adaptive Cards are posted (e.g., 19:abc123...@thread.tacv2)" }
        },
        "cr_approver_channel_id": {
          "defaultValue": "",
          "type":         "String",
          "metadata": { "schemaName":  "cr_cr_approver_channel_id", "description": "Channel ID for the Routing=RMM default path (regional RMM channel)" }
        },
        "cr_director_channel_id": {
          "defaultValue": "",
          "type":         "String",
          "metadata": { "schemaName":  "cr_cr_director_channel_id", "description": "Channel ID for Routing=Director (AOG-priority + Escalated re-routes + timeout escalations)" }
        },
        "cr_outlook_calendar": {
          "defaultValue": "",
          "type":         "String",
          "metadata": { "schemaName":  "cr_cr_outlook_calendar", "description": "Shared Outlook calendar name or ID for approved MX events" }
        },
        "cr_request_timeout_hours": {
          "defaultValue": 24,
          "type":         "Int",
          "metadata": { "schemaName":  "cr_cr_request_timeout_hours", "description": "Hours to wait for decision before auto-escalating to Director" }
        },
        "cr_audit_retention_days": {
          "defaultValue": 2555,
          "type":         "Int",
          "metadata": { "schemaName":  "cr_cr_audit_retention_days", "description": "Days to retain cr_audit rows (default 2555 = 7 years per HIPAA)" }
        },
        "cr_app_deeplink_base": {
          "defaultValue": "https://make.powerapps.com/",
          "type":         "String",
          "metadata": { "schemaName":  "cr_cr_app_deeplink_base", "description": "URL prefix for deep-links from Outlook events / Teams DMs back into MX Connect" }
        },
        "cr_director_email": {
          "defaultValue": "",
          "type":         "String",
          "metadata": { "schemaName":  "cr_cr_director_email", "description": "Director-group email for timeout escalations (e.g., directors@ihc.org)" }
        }
      },
      "triggers": {
        "When_a_row_is_added_or_modified": {
          "type": "OpenApiConnectionWebhook",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "SubscribeWebhookTrigger",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "subscriptionRequest/message":       3,
              "subscriptionRequest/entityname":    "cr_mx_request",
              "subscriptionRequest/scope":         4,
              "subscriptionRequest/filteringattributes": "cr_status,cr_decision",
              "subscriptionRequest/filterexpression": "cr_status eq 1 and cr_decision eq null"
            }
          },
          "_comment": "message 3 = Created or Updated. scope 4 = Organization. Filter: cr_status=1 (Submitted) AND cr_decision=null. The decision-null clause prevents re-fire on the flow's own Decision writes. Re-submission after Return works because the canvas app clears cr_decision when the submitter resubmits. Re-routing after Escalate works because the flow itself clears cr_decision after setting Routing=Director."
        }
      },
      "actions": {
        "Initialize_audit_correlation": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [{ "name": "vAuditCorrelation", "type": "string", "value": "@{triggerOutputs()?['body/cr_audit_correlation']}" }]
          },
          "runAfter": {}
        },

        "Initialize_routing": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [{ "name": "vRouting", "type": "string", "value": "@{coalesce(triggerOutputs()?['body/cr_routing@OData.Community.Display.V1.FormattedValue'], 'RMM')}" }]
          },
          "runAfter": { "Initialize_audit_correlation": ["Succeeded"] }
        },

        "Initialize_recipient_channel": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [{
              "name":  "vRecipientChannel",
              "type":  "string",
              "value": "@{if(equals(variables('vRouting'),'Director'), parameters('cr_director_channel_id'), parameters('cr_approver_channel_id'))}"
            }]
          },
          "runAfter": { "Initialize_routing": ["Succeeded"] }
        },

        "Initialize_requestor_email": {
          "type": "InitializeVariable",
          "inputs": {
            "variables": [{
              "name":  "vRequestorEmail",
              "type":  "string",
              "value": "@{coalesce(triggerOutputs()?['body/cr_requested_by_email'], '')}"
            }]
          },
          "runAfter": { "Initialize_recipient_channel": ["Succeeded"] },
          "_comment": "cr_requested_by_email is set by the canvas form on submit. CSV-imported seed rows have it blank; downstream DM actions guard with `if(empty(vRequestorEmail), skip, send)`."
        },

        "Audit_submitted": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": {
              "connectionName": "shared_commondataserviceforapps",
              "operationId": "CreateRecord",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"
            },
            "parameters": {
              "entityName": "cr_audits",
              "item/cr_event_at":           "@{utcNow()}",
              "item/cr_actor":              "@{triggerOutputs()?['body/cr_requested_by']}",
              "item/cr_actor_role":         "AMT",
              "item/cr_action":             1,
              "item/cr_subject_table":      "MX Requests",
              "item/cr_subject_id":         "@{triggerOutputs()?['body/cr_request_number']}",
              "item/cr_audit_correlation":  "@{variables('vAuditCorrelation')}",
              "item/cr_metadata":           "@{string(triggerOutputs()?['body'])}",
              "item/cr_retention_until":    "@{addDays(utcNow(), parameters('cr_audit_retention_days'))}"
            }
          },
          "runAfter": { "Initialize_requestor_email": ["Succeeded"] }
        },

        "Compose_card_body": {
          "type": "Compose",
          "inputs": {
            "$schema": "http://adaptivecards.io/schemas/adaptive-card.json",
            "type": "AdaptiveCard",
            "version": "1.5",
            "body": [
              {
                "type": "Container", "style": "emphasis", "bleed": true,
                "items": [
                  { "type": "TextBlock", "text": "@{concat('MX REQUEST · ', toUpper(variables('vRouting')), ' APPROVAL')}", "weight": "Bolder", "color": "Accent" },
                  { "type": "TextBlock", "text": "@{triggerOutputs()?['body/cr_aircraft_tail']} · @{triggerOutputs()?['body/cr_request_type@OData.Community.Display.V1.FormattedValue']}", "weight": "Bolder", "size": "Large" },
                  { "type": "TextBlock", "text": "Request @{triggerOutputs()?['body/cr_request_number']} · Priority: @{triggerOutputs()?['body/cr_priority@OData.Community.Display.V1.FormattedValue']}", "size": "Small", "isSubtle": true }
                ]
              },
              {
                "type": "FactSet",
                "facts": [
                  { "title": "Aircraft",  "value": "@{triggerOutputs()?['body/cr_aircraft_tail']} · @{triggerOutputs()?['body/cr_aircraft_type']}" },
                  { "title": "Window",    "value": "@{formatDateTime(triggerOutputs()?['body/cr_window_start'], 'ddd MMM d · HH:mm')} → @{formatDateTime(triggerOutputs()?['body/cr_window_end'], 'ddd MMM d · HH:mm')}" },
                  { "title": "Base",      "value": "@{triggerOutputs()?['body/cr_base']}" },
                  { "title": "Requestor", "value": "@{triggerOutputs()?['body/cr_requested_by']}" }
                ]
              },
              { "type": "TextBlock", "text": "Reason", "weight": "Bolder", "spacing": "Medium" },
              { "type": "TextBlock", "text": "@{triggerOutputs()?['body/cr_reason']}", "wrap": true },
              { "type": "Input.Text", "id": "comment", "label": "Comment / reason / question (used per action)", "placeholder": "Required for Deny + Return; optional for Approve + Escalate.", "maxLength": 1000, "isMultiline": true }
            ],
            "actions": [
              { "type": "Action.Submit", "title": "Approve",  "data": { "action": "approve",  "requestId": "@{triggerOutputs()?['body/cr_mx_requestid']}" }, "style": "positive" },
              { "type": "Action.Submit", "title": "Deny",     "data": { "action": "deny",     "requestId": "@{triggerOutputs()?['body/cr_mx_requestid']}" }, "style": "destructive" },
              { "type": "Action.Submit", "title": "Escalate", "data": { "action": "escalate", "requestId": "@{triggerOutputs()?['body/cr_mx_requestid']}" } },
              { "type": "Action.Submit", "title": "Return",   "data": { "action": "return",   "requestId": "@{triggerOutputs()?['body/cr_mx_requestid']}" } }
            ]
          },
          "runAfter": { "Audit_submitted": ["Succeeded"] }
        },

        "Post_card_and_wait": {
          "type": "OpenApiConnectionWebhook",
          "limit": { "timeout": "PT24H" },
          "inputs": {
            "host": {
              "connectionName": "shared_teams",
              "operationId": "PostAdaptiveCardAndWaitForResponse",
              "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams"
            },
            "parameters": {
              "poster":     "Flow bot",
              "location":   "Channel",
              "messageBody": "@{outputs('Compose_card_body')}",
              "recipient/groupId":   "@{parameters('cr_approver_team_id')}",
              "recipient/channelId": "@{variables('vRecipientChannel')}",
              "updateMessage":       "Decision recorded."
            }
          },
          "runAfter": { "Compose_card_body": ["Succeeded"] },
          "_comment": "Routes to vRecipientChannel (RMM channel by default, Director channel when cr_routing=Director). 24h timeout fires the parallel timeout branch below. limit.timeout cannot reference @parameters() so this stays hard-coded; if cr_request_timeout_hours changes, update here too."
        },

        "Decision": {
          "type": "Switch",
          "expression": "@outputs('Post_card_and_wait')?['body/data/action']",
          "cases": {
            "Approve": {
              "case": "approve",
              "actions": {
                "Update_request_approved": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord", "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                    "parameters": {
                      "entityName": "cr_mx_requests",
                      "recordId":   "@{triggerOutputs()?['body/cr_mx_requestid']}",
                      "item/cr_status":              2,
                      "item/cr_decision":            1,
                      "item/cr_decided_at":          "@{utcNow()}",
                      "item/cr_decision_comment":    "@{outputs('Post_card_and_wait')?['body/data/comment']}",
                      "item/cr_approver":            "@{outputs('Post_card_and_wait')?['body/responder/displayName']}"
                    }
                  }
                },
                "Skip_outlook_for_time_off": {
                  "type": "If",
                  "expression": {
                    "not": { "equals": [ "@triggerOutputs()?['body/cr_request_type']", 4 ] }
                  },
                  "actions": {
                    "Create_outlook_event": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": { "connectionName": "shared_office365", "operationId": "V4CalendarPostItem", "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365" },
                        "parameters": {
                          "calendar": "@{parameters('cr_outlook_calendar')}",
                          "event/subject":  "@{triggerOutputs()?['body/cr_aircraft_tail']} · @{triggerOutputs()?['body/cr_request_type@OData.Community.Display.V1.FormattedValue']}",
                          "event/body":     "<a href='@{parameters('cr_app_deeplink_base')}@{triggerOutputs()?['body/cr_mx_requestid']}'>Open in MX Connect</a>",
                          "event/start":    "@{triggerOutputs()?['body/cr_window_start']}",
                          "event/end":      "@{triggerOutputs()?['body/cr_window_end']}",
                          "event/timeZone": "Mountain Standard Time"
                        }
                      }
                    },
                    "Save_outlook_event_id": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord", "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                        "parameters": {
                          "entityName": "cr_mx_requests",
                          "recordId":   "@{triggerOutputs()?['body/cr_mx_requestid']}",
                          "item/cr_outlook_event_id": "@{outputs('Create_outlook_event')?['body/id']}"
                        }
                      },
                      "runAfter": { "Create_outlook_event": ["Succeeded"] }
                    },
                    "Audit_outlook_created": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord", "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                        "parameters": {
                          "entityName": "cr_audits",
                          "item/cr_event_at":           "@{utcNow()}",
                          "item/cr_actor":              "System",
                          "item/cr_actor_role":         "System",
                          "item/cr_action":             10,
                          "item/cr_subject_table":      "MX Requests",
                          "item/cr_subject_id":         "@{triggerOutputs()?['body/cr_request_number']}",
                          "item/cr_audit_correlation":  "@{variables('vAuditCorrelation')}",
                          "item/cr_metadata":           "@{string(outputs('Create_outlook_event')?['body'])}",
                          "item/cr_retention_until":    "@{addDays(utcNow(), parameters('cr_audit_retention_days'))}"
                        }
                      },
                      "runAfter": { "Save_outlook_event_id": ["Succeeded"] }
                    }
                  },
                  "else": { "actions": {} },
                  "runAfter": { "Update_request_approved": ["Succeeded"] },
                  "_comment": "request_type 4 = Time Off. Time Off doesn't get an Outlook event because there's no aircraft window to schedule. All other 5 canonical types (Phase Inspection, Repair, Overhaul, Open Shift, AOG) create an Outlook event."
                },
                "Skip_DM_if_no_email_approve": {
                  "type": "If",
                  "expression": {
                    "not": { "equals": [ "@variables('vRequestorEmail')", "" ] }
                  },
                  "actions": {
                    "DM_requestor_approved": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": { "connectionName": "shared_teams", "operationId": "PostMessageToConversation", "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams" },
                        "parameters": {
                          "poster":     "Flow bot",
                          "location":   "Chat with Flow bot",
                          "recipient":  "@{variables('vRequestorEmail')}",
                          "messageBody/content": "Your request <b>@{triggerOutputs()?['body/cr_request_number']}</b> for <b>@{triggerOutputs()?['body/cr_aircraft_tail']}</b> was <b>approved</b> by <b>@{outputs('Post_card_and_wait')?['body/responder/displayName']}</b>.@{if(empty(outputs('Post_card_and_wait')?['body/data/comment']), '', concat('<br><br>Comment: ', outputs('Post_card_and_wait')?['body/data/comment']))}",
                          "messageBody/contentType": "html"
                        }
                      }
                    }
                  },
                  "else": { "actions": {} },
                  "runAfter": { "Skip_outlook_for_time_off": ["Succeeded"] },
                  "_comment": "Skip the DM if cr_requested_by_email is empty (e.g., CSV-imported seed rows). Live submissions from the canvas form always have the email."
                },
                "Audit_approved": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord", "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                    "parameters": {
                      "entityName": "cr_audits",
                      "item/cr_event_at":           "@{utcNow()}",
                      "item/cr_actor":              "@{outputs('Post_card_and_wait')?['body/responder/displayName']}",
                      "item/cr_actor_role":         "@{variables('vRouting')}",
                      "item/cr_action":             2,
                      "item/cr_subject_table":      "MX Requests",
                      "item/cr_subject_id":         "@{triggerOutputs()?['body/cr_request_number']}",
                      "item/cr_audit_correlation":  "@{variables('vAuditCorrelation')}",
                      "item/cr_comment":            "@{outputs('Post_card_and_wait')?['body/data/comment']}",
                      "item/cr_metadata":           "@{string(outputs('Post_card_and_wait')?['body'])}",
                      "item/cr_retention_until":    "@{addDays(utcNow(), parameters('cr_audit_retention_days'))}"
                    }
                  },
                  "runAfter": { "Skip_DM_if_no_email_approve": ["Succeeded"] }
                }
              }
            },
            "Deny": {
              "case": "deny",
              "actions": {
                "Update_request_denied": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord", "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                    "parameters": {
                      "entityName": "cr_mx_requests",
                      "recordId":   "@{triggerOutputs()?['body/cr_mx_requestid']}",
                      "item/cr_status":              3,
                      "item/cr_decision":            2,
                      "item/cr_decision_reason":     "@{outputs('Post_card_and_wait')?['body/data/comment']}",
                      "item/cr_decided_at":          "@{utcNow()}",
                      "item/cr_decision_comment":    "@{outputs('Post_card_and_wait')?['body/data/comment']}",
                      "item/cr_approver":            "@{outputs('Post_card_and_wait')?['body/responder/displayName']}"
                    }
                  }
                },
                "Skip_DM_if_no_email_deny": {
                  "type": "If",
                  "expression": {
                    "not": { "equals": [ "@variables('vRequestorEmail')", "" ] }
                  },
                  "actions": {
                    "DM_requestor_denied": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": { "connectionName": "shared_teams", "operationId": "PostMessageToConversation", "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams" },
                        "parameters": {
                          "poster":     "Flow bot",
                          "location":   "Chat with Flow bot",
                          "recipient":  "@{variables('vRequestorEmail')}",
                          "messageBody/content": "Your request <b>@{triggerOutputs()?['body/cr_request_number']}</b> was <b>denied</b> by <b>@{outputs('Post_card_and_wait')?['body/responder/displayName']}</b>.<br><br>Reason: @{outputs('Post_card_and_wait')?['body/data/comment']}",
                          "messageBody/contentType": "html"
                        }
                      }
                    }
                  },
                  "else": { "actions": {} },
                  "runAfter": { "Update_request_denied": ["Succeeded"] }
                },
                "Audit_denied": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord", "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                    "parameters": {
                      "entityName": "cr_audits",
                      "item/cr_event_at":           "@{utcNow()}",
                      "item/cr_actor":              "@{outputs('Post_card_and_wait')?['body/responder/displayName']}",
                      "item/cr_actor_role":         "@{variables('vRouting')}",
                      "item/cr_action":             3,
                      "item/cr_subject_table":      "MX Requests",
                      "item/cr_subject_id":         "@{triggerOutputs()?['body/cr_request_number']}",
                      "item/cr_audit_correlation":  "@{variables('vAuditCorrelation')}",
                      "item/cr_comment":            "@{outputs('Post_card_and_wait')?['body/data/comment']}",
                      "item/cr_metadata":           "@{string(outputs('Post_card_and_wait')?['body'])}",
                      "item/cr_retention_until":    "@{addDays(utcNow(), parameters('cr_audit_retention_days'))}"
                    }
                  },
                  "runAfter": { "Skip_DM_if_no_email_deny": ["Succeeded"] }
                }
              }
            },
            "Escalate": {
              "case": "escalate",
              "actions": {
                "Update_request_escalated_manual": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord", "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                    "parameters": {
                      "entityName": "cr_mx_requests",
                      "recordId":   "@{triggerOutputs()?['body/cr_mx_requestid']}",
                      "item/cr_status":              4,
                      "item/cr_decision":            3,
                      "item/cr_routing":             2,
                      "item/cr_decision_comment":    "@{concat('Manually escalated to Director by ', outputs('Post_card_and_wait')?['body/responder/displayName'], '. ', outputs('Post_card_and_wait')?['body/data/comment'])}"
                    }
                  }
                },
                "Reset_decision_for_re_entry": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord", "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                    "parameters": {
                      "entityName": "cr_mx_requests",
                      "recordId":   "@{triggerOutputs()?['body/cr_mx_requestid']}",
                      "item/cr_status":     1,
                      "item/cr_decision":   null
                    }
                  },
                  "runAfter": { "Update_request_escalated_manual": ["Succeeded"] },
                  "_comment": "Resetting Status to Submitted (1) + Decision to null re-arms the trigger. Routing is now Director (2), so the next iteration posts to the Director channel."
                },
                "Audit_escalated_manual": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord", "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                    "parameters": {
                      "entityName": "cr_audits",
                      "item/cr_event_at":           "@{utcNow()}",
                      "item/cr_actor":              "@{outputs('Post_card_and_wait')?['body/responder/displayName']}",
                      "item/cr_actor_role":         "@{variables('vRouting')}",
                      "item/cr_action":             4,
                      "item/cr_subject_table":      "MX Requests",
                      "item/cr_subject_id":         "@{triggerOutputs()?['body/cr_request_number']}",
                      "item/cr_audit_correlation":  "@{variables('vAuditCorrelation')}",
                      "item/cr_comment":            "@{concat('Manually escalated by ', outputs('Post_card_and_wait')?['body/responder/displayName'], '. ', outputs('Post_card_and_wait')?['body/data/comment'])}",
                      "item/cr_metadata":           "@{string(outputs('Post_card_and_wait')?['body'])}",
                      "item/cr_retention_until":    "@{addDays(utcNow(), parameters('cr_audit_retention_days'))}"
                    }
                  },
                  "runAfter": { "Reset_decision_for_re_entry": ["Succeeded"] }
                }
              }
            },
            "Return": {
              "case": "return",
              "actions": {
                "Update_request_returned": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord", "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                    "parameters": {
                      "entityName": "cr_mx_requests",
                      "recordId":   "@{triggerOutputs()?['body/cr_mx_requestid']}",
                      "item/cr_status":              5,
                      "item/cr_decision":            4,
                      "item/cr_more_info_request":   "@{outputs('Post_card_and_wait')?['body/data/comment']}",
                      "item/cr_decision_comment":    "@{outputs('Post_card_and_wait')?['body/data/comment']}",
                      "item/cr_approver":            "@{outputs('Post_card_and_wait')?['body/responder/displayName']}"
                    }
                  }
                },
                "Skip_DM_if_no_email_return": {
                  "type": "If",
                  "expression": {
                    "not": { "equals": [ "@variables('vRequestorEmail')", "" ] }
                  },
                  "actions": {
                    "DM_requestor_returned": {
                      "type": "OpenApiConnection",
                      "inputs": {
                        "host": { "connectionName": "shared_teams", "operationId": "PostMessageToConversation", "apiId": "/providers/Microsoft.PowerApps/apis/shared_teams" },
                        "parameters": {
                          "poster":     "Flow bot",
                          "location":   "Chat with Flow bot",
                          "recipient":  "@{variables('vRequestorEmail')}",
                          "messageBody/content": "<b>@{outputs('Post_card_and_wait')?['body/responder/displayName']}</b> returned your request <b>@{triggerOutputs()?['body/cr_request_number']}</b> and needs more info before deciding.<br><br>Question: @{outputs('Post_card_and_wait')?['body/data/comment']}<br><br>Open <a href='@{parameters('cr_app_deeplink_base')}@{triggerOutputs()?['body/cr_mx_requestid']}'>MX Connect</a> to add the answer and resubmit.",
                          "messageBody/contentType": "html"
                        }
                      }
                    }
                  },
                  "else": { "actions": {} },
                  "runAfter": { "Update_request_returned": ["Succeeded"] }
                },
                "Audit_returned": {
                  "type": "OpenApiConnection",
                  "inputs": {
                    "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord", "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
                    "parameters": {
                      "entityName": "cr_audits",
                      "item/cr_event_at":           "@{utcNow()}",
                      "item/cr_actor":              "@{outputs('Post_card_and_wait')?['body/responder/displayName']}",
                      "item/cr_actor_role":         "@{variables('vRouting')}",
                      "item/cr_action":             5,
                      "item/cr_subject_table":      "MX Requests",
                      "item/cr_subject_id":         "@{triggerOutputs()?['body/cr_request_number']}",
                      "item/cr_audit_correlation":  "@{variables('vAuditCorrelation')}",
                      "item/cr_comment":            "@{outputs('Post_card_and_wait')?['body/data/comment']}",
                      "item/cr_metadata":           "@{string(outputs('Post_card_and_wait')?['body'])}",
                      "item/cr_retention_until":    "@{addDays(utcNow(), parameters('cr_audit_retention_days'))}"
                    }
                  },
                  "runAfter": { "Skip_DM_if_no_email_return": ["Succeeded"] }
                }
              }
            }
          },
          "default": { "actions": {} },
          "runAfter": { "Post_card_and_wait": ["Succeeded"] }
        },

        "_comment_timeout_branch": "Catches TimedOut and Failed states from Post_card_and_wait. Auto-escalates by setting Routing=Director and re-arming the trigger.",

        "Update_request_escalated_timeout": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord", "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
            "parameters": {
              "entityName": "cr_mx_requests",
              "recordId":   "@{triggerOutputs()?['body/cr_mx_requestid']}",
              "item/cr_status":              4,
              "item/cr_routing":             2,
              "item/cr_decision_comment":    "@{concat('Auto-escalated to Director after ', parameters('cr_request_timeout_hours'), 'h without decision.')}"
            }
          },
          "runAfter": { "Post_card_and_wait": ["TimedOut", "Failed"] }
        },

        "Reset_decision_timeout": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "UpdateRecord", "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
            "parameters": {
              "entityName": "cr_mx_requests",
              "recordId":   "@{triggerOutputs()?['body/cr_mx_requestid']}",
              "item/cr_status":     1,
              "item/cr_decision":   null
            }
          },
          "runAfter": { "Update_request_escalated_timeout": ["Succeeded"] }
        },

        "Email_director_escalation": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": { "connectionName": "shared_office365", "operationId": "SendEmailV2", "apiId": "/providers/Microsoft.PowerApps/apis/shared_office365" },
            "parameters": {
              "emailMessage/To":      "@{parameters('cr_director_email')}",
              "emailMessage/Subject": "@{concat('[MX Connect Escalation] ', triggerOutputs()?['body/cr_request_number'], ' · ', triggerOutputs()?['body/cr_aircraft_tail'], ' awaiting decision')}",
              "emailMessage/Body":    "<p>The following MX request has been awaiting decision for over @{parameters('cr_request_timeout_hours')} hours and has been auto-escalated to Director.</p><p><strong>Request:</strong> @{triggerOutputs()?['body/cr_request_number']}<br><strong>Aircraft:</strong> @{triggerOutputs()?['body/cr_aircraft_tail']} · @{triggerOutputs()?['body/cr_aircraft_type']}<br><strong>Type:</strong> @{triggerOutputs()?['body/cr_request_type@OData.Community.Display.V1.FormattedValue']}<br><strong>Window:</strong> @{formatDateTime(triggerOutputs()?['body/cr_window_start'], 'ddd MMM d · HH:mm')} → @{formatDateTime(triggerOutputs()?['body/cr_window_end'], 'ddd MMM d · HH:mm')}<br><strong>Base:</strong> @{triggerOutputs()?['body/cr_base']}<br><strong>Requestor:</strong> @{triggerOutputs()?['body/cr_requested_by']}<br><strong>Original routing:</strong> @{variables('vRouting')}</p><p><a href='@{parameters('cr_app_deeplink_base')}@{triggerOutputs()?['body/cr_mx_requestid']}'>Open in MX Connect</a></p>",
              "emailMessage/Importance":  "High",
              "emailMessage/Body_Type":   "HTML"
            }
          },
          "runAfter": { "Reset_decision_timeout": ["Succeeded"] }
        },

        "Audit_escalated_timeout": {
          "type": "OpenApiConnection",
          "inputs": {
            "host": { "connectionName": "shared_commondataserviceforapps", "operationId": "CreateRecord", "apiId": "/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps" },
            "parameters": {
              "entityName": "cr_audits",
              "item/cr_event_at":           "@{utcNow()}",
              "item/cr_actor":              "System",
              "item/cr_actor_role":         "System",
              "item/cr_action":             4,
              "item/cr_subject_table":      "MX Requests",
              "item/cr_subject_id":         "@{triggerOutputs()?['body/cr_request_number']}",
              "item/cr_audit_correlation":  "@{variables('vAuditCorrelation')}",
              "item/cr_comment":            "@{concat('Auto-escalated after ', parameters('cr_request_timeout_hours'), 'h without decision; original routing was ', variables('vRouting'), '. Director email sent to ', parameters('cr_director_email'))}",
              "item/cr_metadata":           "@{string(outputs('Post_card_and_wait'))}",
              "item/cr_retention_until":    "@{addDays(utcNow(), parameters('cr_audit_retention_days'))}"
            }
          },
          "runAfter": { "Email_director_escalation": ["Succeeded"] }
        }
      }
    }
  }
}
